.pub {
    width: 90%;
    max-width: 900px;
    background: #ffffff;
    padding: 35px 45px;
    margin: 25px auto;
    border-radius: 45px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}


/* ĽAVÁ STRANA */

.left {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 28px;
    font-weight: bold;
}

.adress {
    margin-top: 8px;
    font-size: 18px;
    color: #444;
}


/* PRAVÁ STRANA – pivá sú menej výrazné a posunuté viac doľava */

.right {
    text-align: left;
    opacity: 0.75;
    /* menej výrazné */
    transform: translateX(-20px);
    /* posun doľava */
}

.beer {
    font-size: 18px;
    font-weight: 600;
}

ul {
    margin-top: 5px;
    padding-left: 18px;
    font-size: 16px;
}


/* Cena v strede */

.price {
    position: absolute;
    bottom: 100px;
    /* aby bola nad tlačidlom */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 600;
}


/* Tlačidlo v strede */

.map-button {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background: #007bff;
    color: #fff;
    padding: 12px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 40px;
    font-size: 18px;
}

.map-button:hover {
    background: #005fcc;
}