@media(max-width: 820px) {
    #select-beer {
        width: 80%;
    }
}

@media(max-width: 800px) {
    .pub {
        width: 80%;
    }
}

@media(max-width: 630px) {
    header {
        padding: 0 20px;
    }
    header img {
        height: 50px;
    }
    #nav {
        font-size: 12.5px;
    }
    #inputs {
        flex-direction: column;
    }
}