    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    
    header {
        display: flex;
        min-height: 120px;
        border-bottom: black solid 2.5px;
        align-items: center;
        padding: 0 50px;
        flex-wrap: wrap;
        flex-grow: 2;
        justify-content: space-between;
        background-color: rgb(252, 148, 15)
    }
    
    header img {
        height: 100px;
        position: relative;
        /*left: 40px;*/
    }
    
    #nav {
        display: flex;
        position: relative;
        font-weight: bold;
        /*right: 50px;*/
        flex-direction: row;
        justify-content: space-evenly;
        gap: 50px;
        min-width: 200px;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
    #nav a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    #langMenuBtn {
        cursor: pointer;
    }
    
    #langMenu {
        display: none;
        visibility: hidden;
        background-color: white;
        border-radius: 15px;
        border: 2.5px solid black;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        height: fit-content;
        width: 500px;
        padding: 20px;
        z-index: 2;
        flex-shrink: 1;
    }
    
    #langMenu * {
        visibility: inherit;
    }
    
    #langMenu a {
        position: fixed;
        top: 3%;
        right: 3%;
        width: fit-content;
        align-self: end;
        font-size: 230%;
        text-decoration: none;
        color: black;
    }
    
    #langMenu form {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        color: black;
        width: 375px;
        justify-self: center;
        align-self: center;
        flex-shrink: 1;
    }
    
    #langMenu label {
        font-size: 2em;
        font-weight: 400;
    }
    
    #langMenu select {
        padding-left: 15px;
        font-size: 1.35em;
        height: 2em;
        background-color: rgb(252, 148, 15);
        font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(1, 1, 1);
    }
    
    #langMenu input {
        font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
        width: fit-content;
        align-self: end;
        background-color: silver;
        color: rgb(0, 0, 0);
        font-size: 1.35em;
        padding: 7.5px 20px;
        border: none;
        margin-top: 0.5em;
    }
    
    #overlay {
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        position: fixed;
        top: 0px;
        left: 0;
    }
    
    main {
        padding: 100px 0;
    }
    
    #select-beer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 30px;
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
    form {
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }
    
    #select-beer2 {
        width: 100%;
        max-width: 600px;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 30px;
        margin-bottom: -20px;
        box-sizing: border-box;
        justify-content: flex-end;
    }
    /*
    #select-beer button {
        position: relative;
        justify-self: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 30px;
        left: 75%;
        bottom: 100%;
        width: fit-content;
    }
    
    #sent {
        border-radius: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
        position: relative;
        margin: 5px;
        left: 85%;
        width: fit-content;
    }*/
    
    #select-beer button,
    #sent {
        margin: auto;
        /* right-align WITHOUT breaking layout */
        margin-bottom: 20px;
        border-radius: 30px;
        font-size: large;
        height: 50px;
        width: fit-content;
        min-width: 210px;
        padding: 0 20px;
    }
    
    #select-beer button p {
        margin: 0;
    }
    
    #city {
        width: 100%;
        max-width: 600px;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 30px;
        margin-bottom: -20px;
        box-sizing: border-box;
        justify-content: flex-end;
    }
    
    #searchbar {
        margin: 0;
        padding-left: 20px;
        border: solid black 1px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-right: none;
        font-size: 20px;
        height: 30px;
    }
    
    #search-bt {
        height: auto;
        margin: 0;
        border: solid black 1px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        background-color: goldenrod;
    }
    
    #mag-glass {
        height: 25px;
        width: auto;
    }
    
    #search {
        place-self: center;
        width: 70%;
        display: grid;
        grid-template-columns: 9fr 1fr;
        grid-template-rows: 1fr;
        padding: 30px 75px;
        margin: 10px 0;
        flex-grow: 1;
        flex-shrink: 1;
        max-height: 100px;
    }
    
    footer {
        max-height: fit-content;
        background-color: rgb(252, 148, 15);
        color: black;
        padding: 40px 20px 20px 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .footer a {
        color: #eee;
        text-decoration: none;
    }
    
    .footer a:hover {
        color: #f39c12;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
    }
    
    .footer-about,
    .footer-links,
    .footer-social {
        flex: 1 1 250px;
        margin: 10px;
    }
    
    .footer-links ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-links li {
        margin: 8px 0;
    }
    
    .social-icons a {
        display: inline-block;
        margin-right: 10px;
    }
    
    .social-icons img {
        height: 30px;
        width: auto;
    }
    
    .footer-bottom {
        text-align: center;
        margin-top: 20px;
        border-top: 1px solid #444;
        padding-top: 10px;
        font-size: 14px;
    }